<!DOCTYPE html>
<html>
<head>
	<title>Rock Or Not</title>
	<% include head %> 
</head>
<body>
 <% include navbar %>
  <% if(name !== undefined){%>
 	<h1>Welcome, <%=name%></h1>
 <%}%>
 	<div class='col-sm-12'>
 		Vote here!
 	</div>
</body>
</html> 