<div class="col-sm-12">
	<div id="navbar">
		<div class="nav-link well">
			<ul>
				<li class="col-sm-2"><a href="#">Home</a></li>
				<li class="col-sm-2"><a href="/register">Register</a></li>
				<li class="col-sm-2"><a href="/login">Login</a></li>
				<li class="col-sm-2"><a href="/standings">Standings</a></li>
				<li class="col-sm-2"><a href="#">Call Russia</a></li>
		</div>
	</div>
</div>