body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: grey;
  text-decoration: none;
}
ul li{
	list-style-type: none;
}

button{
	margin: 5px;
}
img{
	height: 200px;
	width: 300px;
}